<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>Index</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="header-content">
          <a href="/"
            ><img
              src="/assets/icons/gather-space.svg"
              alt="gather space galaxy"
            />GatherSpace</a
          >
          <nav>
            <a href="/">Account</a>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <section class="error-message">
      <div class="landing-container">
        <div class="error-message__container">
        <h1>Error <%= statusCode  %></h1>
        <p><%= errorMessage %></p>
        <button class="accent-button" onclick="location.href='/';">Ok</button>
        </div>
      </div>
      </section>
    </main>
    <footer>
      <div class="footer-container">
        <div class="footer-content">
          <a href="https://github.com/luiqor">2024 by @luiqor</a>
        </div>
      </div>
    </footer>
    <script type="module" src="/js/index.js"></script>
  </body>
</html>
