<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script>
      const SPACE_ID = "<%= spaceId %>";
      const spaceAlreadyExists = "<%= spaceAlreadyExists %>";
    </script>
    <title>Index</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="header-content">
          <a href="/"
            ><img
              src="/assets/icons/gather-space.svg"
              alt="gather space galaxy"
            />GatherSpace</a
          >
          <nav>
            <a href="/">Account</a>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <section class="space-title">
        <div class="space-title__inner-container landing-container">
          <div class="space-title__text-container">
            <h1>GatherSpace</h1>
            <p>
              Gather space is a video conferencing app with a built-in chat. It
              allows users to connect to the space and start a call with their
              peers or join the space using a space-code.
            </p>
          </div>
          <div class="space-title__graphics-container">
            <img
              src="/assets/icons/gather-space.svg"
              alt="gather space galaxy"
            />
          </div>
        </div>
      </section>
      <section class="join-immediately">
        <div class="landing-container">
          <div class="join-immediately__container">
            <h2 class="join-immediately__title">
              Create space immediately! Share link or code with peer's
            </h2>
            <div class="join-immediately__content">
              <div>
                <label for="space-slug-input"></label>
                <div class="join-immediately__form-group">
                  <input
                    id="space-slug-input"
                    class="form-input"
                    type="text"
                    maxlength="36"
                    value="<%= spaceId %>"
                    style="border-radius: 6px"
                  />
                  <button id="generate-code-button" class="accent-button" onclick="location.href='/';">
                    <i class="material-icons">shuffle</i>
                  </button>
                  <button id="create-space-button" class="accent-button"> 
                    Create Space
                  </button>
                </div>
              </div>
              <p class="attention-p" id="invalid-space-message">
                <% if (spaceAlreadyExists) { %>
                Sorry. Name <%= spaceId %> for a space is already taken...
                <% } %>
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="join-options-cards">
        <div class="join-options-cards__container landing-container">
          <div
            class="join-options-cards__card"
            id="join-space-card"
            onclick="location.href='/join-space'"
          >
            <div class="join-options-cards__icon_holder">
              <i class="material-icons join-options-cards__icon">duo</i>
            </div>
            <h3>Join the space</h3>
            <p>
              Join the space using a space code. You can join the space by
              entering the space code, which your peer sended to you.
            </p>
          </div>
          <div class="join-options-cards__card" id="plan-gathering-card">
            <div class="join-options-cards__icon_holder">
              <i class="material-icons join-options-cards__icon"
                >calendar_month</i
              >
            </div>
            <h3>Plan gathering</h3>
            <p>
              Start planned space and share the space code with your peers.
              Space code would be reserved for a planned time.
            </p>
          </div>
        </div>
      </section>
      <section class="planned-gatherings">
        <div class="landing-container">
          <div class="planned-gatherings__container">
            <div class="planned-gatherings__introduction">
              <h2 class="planned-gatherings__time">12 : 10</h2>
              <p class="planned-gatherings__date">Monday, 12th of July</p>
            </div>
            <div class="planned-gatherings__content">
              <ul>
                <li><a href="/">12:10 12.04.2024 fancy-elephants-car</a></li>
                <li><a href="/">12:10 12.04.2024 fancy-elephants-car</a></li>
                <li><a href="/">12:10 12.04.2024 fancy-elephants-car</a></li>
                <li><a href="/">12:10 12.04.2024 fancy-elephants-car</a></li>
                <li><a href="/">12:10 12.04.2024 fancy-elephants-car</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-container">
        <div class="footer-content">
          <a href="https://github.com/luiqor">2024 by @luiqor</a>
        </div>
      </div>
    </footer>
    <script type="module" src="/js/index.js"></script>
  </body>
</html>
