<!doctype html>
<html lang="en">
  <head>
    <%- include ('partials/head.ejs') %>
    <title>GatherSpace | join space</title>
  </head>
  <body>
    <%- include ('partials/header.ejs') %>
    <main>
      <section class="space-title">
        <div class="space-title__inner-container landing-container">
          <div class="space-title__text-container">
            <h1>GatherSpace</h1>
            <p>
              Gather space is a video conferencing app with a built-in chat. It
              allows users to connect to the space and start a call with their
              peers or join the space using a space-code.
            </p>
          </div>
          <div class="space-title__graphics-container">
            <img
              src="/assets/icons/gather-space.svg"
              alt="gather space galaxy"
            />
          </div>
        </div>
      </section>
      <section class="join-immediately">
        <div class="landing-container">
          <div class="join-immediately__container">
            <h2 class="join-immediately__title">
              Join peer's space immediately! Enter the code to join.
            </h2>
            <div class="join-immediately__content">
              <div>
                <label for="space-slug-input"></label>
                <div class="join-immediately__form-group">
                  <input
                    id="space-slug-input"
                    class="form-input"
                    type="text"
                    maxlength="36"
                    value=""
                    style="border-radius: 6px"
                  />
                  <button id="join-space-button" class="accent-button">
                    Join Space
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include ('partials/footer.ejs') %>
    <script type="module" src="/js/join-space.js"></script>
  </body>
</html>
