<header>
  <div class="header-container">
    <div class="header-content">
      <a href="/"
        ><img
          src="/assets/icons/gather-space.svg"
          alt="gather space galaxy"
        />GatherSpace</a
      >
    </div>
  </div>
</header>
