.space-chat {
  display: flex;
  height: 100vh;
}
.space-chat__videochat-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: slateblue;
}
.space-chat__videos-placeholder {
  background-color: rgb(37, 37, 37);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.space-chat__videos-placeholder::-webkit-scrollbar {
  display: none;
}
.space-chat__mssgchat-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: rgb(25, 25, 26);
}
.space-chat__header {
  padding: 10px 0px 12px 0px;
  color: white;
  text-align: center;
}
.space-chat__window {
  flex-grow: 1;
  overflow-y: scroll;
}
button .space-chat__window::-webkit-scrollbar {
  display: none;
}
.space-chat__select-container {
  padding: 22px 90px 0px 12px;
  height: 40px;
  display: flex;
}
.space-chat__select-container select {
  margin: 10px;
}
.space-chat__input-container {
  padding: 10px 12px 22px 12px;
  display: flex;
}
.space-chat__controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
  justify-content: space-between;
  background-color: slateblue;
}
.space-chat__controls button {
  color: white;
}
.space-chat__controls button span {
  display: block;
}
.space-chat .message {
  list-style-type: none;
  background-color: slateblue;
  color: white;
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
  margin-bottom: 10px;
}
.space-chat input {
  background-color: transparent;
  border: 2px solid slateblue;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
.space-chat select {
  background-color: rgb(37, 37, 37);
  border: 2px solid slateblue;
  border-radius: 5px;
  color: white;
  width: 100%;
}
.space-chat label[for=usernames-select] {
  color: white;
  background-color: slateblue;
  padding: 5px;
  margin: 10px;
  padding: 0px 10px;
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 92vh;
}
#video-grid .video-holder {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin: 10px 5px 12px 5px;
}
#video-grid video {
  flex: 0 0 auto;
  width: 100%;
}
#video-grid .video-label {
  background-color: slateblue;
  flex: 1 0 0;
  min-height: 30px;
  max-height: 40px;
  width: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
}
#video-grid .video-user-title {
  margin: 0px;
  padding-left: 10px;
  padding-top: 5px;
  color: white;
}

.space-title__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  position: relative;
}
@media (max-width: 600px) {
  .space-title__graphics-container {
    display: none;
  }
}
.space-title__graphics-container img {
  width: 100%;
  height: 100%;
}
.space-title h1 {
  font-size: 4em;
  margin: 0.67em 0;
}
.space-title p {
  margin-top: 0;
  margin-bottom: 24px;
}

.join-immediately__container {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.281);
  color: white;
  overflow: hidden;
  padding: 48px 16px;
  border-radius: 12px;
  width: 100%;
}
@media (max-width: 600px) {
  .join-immediately__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.join-immediately__title {
  margin-bottom: 40px;
  margin-top: 0;
}
@media (max-width: 600px) {
  .join-immediately__title {
    max-width: 60%;
    text-align: center;
  }
}
.join-immediately__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join-immediately__form-group button {
  padding: 16px 32px;
  white-space: nowrap;
  margin: 0px 8px 8px 8px;
}
.join-immediately__form-group .form-input {
  margin: 0px 8px;
  height: 48px;
  border: none;
  justify-content: center;
  text-align: center;
  background-color: #242830;
  color: white;
  width: 100%;
}
@media (max-width: 640px) {
  .join-immediately__form-group {
    margin-bottom: 12px;
  }
  .join-immediately__form-group .form-input {
    margin-bottom: 12px;
  }
  .join-immediately__form-group button {
    width: 100%;
  }
}
@media (min-width: 641px) {
  .join-immediately__form-group {
    display: flex;
  }
  .join-immediately__form-group .form-input {
    min-width: 280px;
  }
}

.join-options-cards__container {
  color: white;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
@media (max-width: 600px) {
  .join-options-cards__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}
.join-options-cards__card {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100vh;
  height: 200px;
  border-radius: 12px;
  padding: 50px;
}
.join-options-cards__card:nth-child(3n+1) {
  background-color: rgb(255, 165, 0);
}
.join-options-cards__card:nth-child(3n+2) {
  background-color: royalblue;
}
.join-options-cards__card:nth-child(3n) {
  background-color: slateblue;
}
@media (max-width: 600px) {
  .join-options-cards__card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 30px;
  }
  .join-options-cards__card p {
    display: none;
  }
}
.join-options-cards__icon_holder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  width: 50px;
}
.join-options-cards__clickable-card {
  cursor: pointer;
}
.join-options-cards__clickable-card:hover {
  background-color: rgb(37, 37, 37);
}

.planned-gatherings__introduction {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.planned-gatherings__time {
  padding: 0px;
  font-size: 3em;
  margin: 0.3em 0;
}
.planned-gatherings__date {
  margin: 0px;
  padding: 0px;
}

.error-message__container {
  color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error-message h1 {
  font-size: 4em;
  margin: 0.2em 0;
}
.error-message p {
  margin: 0px 20px 30px 20px;
}
.error-message button {
  padding: 16px 32px;
  white-space: nowrap;
  margin: 0px 8px 8px 8px;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, Roboto;
  background-color: rgb(25, 25, 26);
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
button:hover {
  background-color: rgb(255, 165, 0);
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: rgb(255, 165, 0);
}
a:active {
  color: slateblue;
}

.accent-button {
  background-color: slateblue;
  margin-left: 8px;
  border-radius: 10px;
  color: white;
}

.disabled-button-element {
  color: tomato;
}

.hidden {
  display: none;
}

.landing-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
@media (max-width: 600px) {
  .landing-container {
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .landing-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 1025px) {
  .landing-container {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1128px;
  }
}

section {
  padding-bottom: 40px;
}

footer {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
@media (min-width: 601px) and (max-width: 1024px) {
  footer {
    width: 100%;
  }
}

.attention-p {
  color: tomato;
  margin: 0px 8px;
}

.header-content {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content > * {
  margin: 10px 30px;
}
@media (max-width: 600px) {
  .header-content {
    flex-direction: column;
    align-items: center;
  }
}
.header-content a {
  display: flex;
  align-items: center;
}
.header-content img {
  width: 40px;
  height: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */