@import "../variables.scss";

.join-options-cards {
  &__container {
    color: $elementsColor;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0;
    }
  }
  &__card {
    user-select: none;
    width: 100vh;
    height: 200px;
    border-radius: 12px;
    padding: 50px;

    &:nth-child(3n + 1) {
      background-color: $secondAccentColor;
    }

    &:nth-child(3n + 2) {
      background-color: $thirdAccentColor;
    }

    &:nth-child(3n) {
      background-color: $accentColor;
    }

    @media (max-width: 600px) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      padding: 30px;

      p {
        display: none;
      }
    }
  }

  &__icon_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    width: 50px;
  }
  &__clickable-card {
    cursor: pointer;
    &:hover {
      background-color: $backgroundSecondary;
    }
  }
}
