.planned-gatherings {
  &__introduction {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__time {
    padding: 0px;
    font-size: 3em;
    margin: 0.3em 0;
  }
  &__date {
    margin: 0px;
    padding: 0px;
  }
}
