@import "../variables.scss";
.space-chat {
  display: flex;
  height: 100vh;
  &__videochat-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: $accentColor;
  }
  &__videos-placeholder {
    background-color: $backgroundSecondary;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__mssgchat-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: $backgroundPrimary;
  }

  &__header {
    padding: 10px 0px 12px 0px;
    color: $elementsColor;
    text-align: center;
  }

  &__window {
    flex-grow: 1;
    overflow-y: scroll;
    button &::-webkit-scrollbar {
      display: none;
    }
  }

  &__select-container {
    padding: 22px 90px 0px 12px;
    height: 40px;
    display: flex;

    select {
      margin: 10px;
    }
  }

  &__input-container {
    padding: 10px 12px 22px 12px;
    display: flex;
  }

  &__controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    justify-content: space-between;
    background-color: $accentColor;

    button {
      color: $elementsColor;
      span {
        display: block;
      }
    }
  }

  .message {
    list-style-type: none;
    background-color: $accentColor;
    color: $elementsColor;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
    margin-bottom: 10px;
  }

  input {
    background-color: transparent;
    border: 2px solid $accentColor;
    border-radius: 5px;
    color: $elementsColor;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }

  select {
    background-color: $backgroundSecondary;
    border: 2px solid $accentColor;
    border-radius: 5px;
    color: $elementsColor;
    width: 100%;
  }

  label[for="usernames-select"] {
    color: $elementsColor;
    background-color: $accentColor;
    padding: 5px;
    margin: 10px;
    padding: 0px 10px;
  }
}
